#define MODTOG(NAME, A, B, C, D) \
kt##NAME: kt##NAME { \
    compatible = "zmk,behavior-macro"; \
    #binding-cells = <0>; \
    bindings \
        = <&macro_tap A B C D> \
        ; \
};

MODTOG(gui,  &kt LGUI, &none,    &none,     &none)
MODTOG(alt,  &none,    &kt LALT, &none,     &none)
MODTOG(ctrl, &none,    &none,    &kt LCTRL, &none)
MODTOG(shft, &none,    &none,    &none,     &kt LSHFT)
MODTOG(ga,   &kt LGUI, &kt LALT, &none,     &none)
MODTOG(gc,   &kt LGUI, &none,    &kt LCTRL, &none)
MODTOG(gs,   &kt LGUI, &none,    &none,     &kt LSHFT)
MODTOG(ac,   &none,    &kt LALT, &kt LCTRL, &none)
MODTOG(as,   &none,    &kt LALT, &none,     &kt LSHFT)
MODTOG(cs,   &none,    &none,    &kt LCTRL, &kt LSHFT)
MODTOG(gac,  &kt LGUI, &kt LALT, &kt LCTRL, &none)
MODTOG(gas,  &kt LGUI, &kt LALT, &none,     &kt LSHFT)
MODTOG(gcs,  &kt LGUI, &none,    &kt LCTRL, &kt LSHFT)
MODTOG(acs,  &none,    &kt LALT, &kt LCTRL, &kt LSHFT)
MODTOG(gacs, &kt LGUI, &kt LALT, &kt LCTRL, &kt LSHFT)