#define TMODDANCE(NAME, MOD) \
md##NAME: tap_dance_##NAME { \
    compatible = "zmk,behavior-tap-dance"; \
    #binding-cells = <0>; \
    tapping-term-ms = <STICKY_TIMEOUT>; \
    bindings = <&kp MOD>, <&kt##NAME>; \
};

TMODDANCE(gui,  LGUI)
TMODDANCE(alt,  LALT)
TMODDANCE(ctrl, LCTRL)
TMODDANCE(shft, LSHFT)
TMODDANCE(ga,   LG(LALT))
TMODDANCE(gc,   LG(LCTRL))
TMODDANCE(gs,   LG(LSHFT))
TMODDANCE(ac,   LA(LCTRL))
TMODDANCE(as,   LA(LSHFT))
TMODDANCE(cs,   LC(LSHFT))
TMODDANCE(gac,  LG(LA(LCTRL)))
TMODDANCE(gas,  LG(LA(LSHFT)))
TMODDANCE(gcs,  LG(LC(LSHFT)))
TMODDANCE(acs,  LA(LC(LSHFT)))
TMODDANCE(gacs, LG(LA(LC(LSHFT))))